CmpRevokeResponseMessage created with incorrect sender information in header

**Describe the Bug**

[RFC4210](https://www.rfc-editor.org/rfc/rfc4210#section-5.1.1) states

>    The sender field contains the name of the sender of the PKIMessage.
>    This name (in conjunction with senderKID, if supplied) should be
>    sufficient to indicate the key to use to verify the protection on the
>    message.

This is requirement is further specified in [RFC9483](https://datatracker.ietf.org/doc/html/rfc9483#section-3.1):

>  sender                      REQUIRED
>     -- Contains a name representing the originator, which also
>     --   protects the message
>     -- For signature-based protection, MUST be the subject field of
>     --   the CMP protection certificate

For `CmpRevokeResponseMessage` this is not in all cases ensured by EJBCA. In the following example the order of the fields in the sender and the subject of the first  certificate in the extracert field are reverted:

![image](https://github.com/Keyfactor/ejbca-ce/assets/1633499/f0705c15-ac12-48e1-a9a8-e5e119baeead)

**To Reproduce**

Send a CMP message to EJBCA that triggers the execution of https://github.com/Keyfactor/ejbca-ce/blob/74957651b1d870ffc7796ffaa002e4c3f2be16fa/modules/ejbca-ejb/src/org/ejbca/core/protocol/cmp/RevocationMessageHandler.java#L253

instead of 

https://github.com/Keyfactor/ejbca-ce/blob/74957651b1d870ffc7796ffaa002e4c3f2be16fa/modules/ejbca-ejb/src/org/ejbca/core/protocol/cmp/RevocationMessageHandler.java#L251

**Expected Behavior**

Always embed the content of the Subject field of the signing CA as the Sender in the CMP header.

**Screenshots and Logs**

see above

**Product Deployment** 

EJBCA 8.0 Community (ce7f5e74b9a054edf61b188fa46f03e57b8478ab)

**Desktop**

n/a

**Additional Context**

n/a


At first I thought you were advocating to simply remove the if/else, but since this is only specified for signature protected messages, it looks more like you should ensure in line 297 that sender is set to the signer's DN.
https://github.com/Keyfactor/ejbca-ce/blob/74957651b1d870ffc7796ffaa002e4c3f2be16fa/modules/ejbca-ejb/src/org/ejbca/core/protocol/cmp/RevocationMessageHandler.java#L297

Right?

The above quote from [RFC 9483 section 3.1](https://datatracker.ietf.org/doc/html/rfc9483#section-3.1) is incomplete.
The spec also covers the case of MAC-based protection, like this:
```
    -- For MAC-based protection, MUST contain a name the PKI
    --   management entity can use to identify the shared secret
    --   information. This name MUST be placed in the commonName
    --   field of the directoryName choice.
```
So also in the MAC-based case the RA/CA should not copy over the recipient field (which may contain nonsense) of the request message to the sender field,
but fill in the sender field something that allows the recipient of the (here: response) message to determine which credentials to use for verifying the protection.
In the MAC-based case, it is the "user name" associated to the shared secret being used: so the DN should contain (just) a commonName RDN, containing that user name as its (only) value.

Some thoughts for discussion, since we are discussing details of RFC 9483. See it as a discussion comment please, for further discussion.

That definition for MAC based protection looks like it was drafted with a very specific implementation in mind. Does it really fit a generic scenario?
It ends with:
    -- In a multihop scenario, the receiving entity cannot rely
    --   on the correctness of the sender field.

I see multiple weaknesses with this writing. 

1.
The end result is that a client "can't rely on the sender field", because the client doesn't know how many hops there are, it's a server side/policy configuration. A client compliant with RFC 9483 can not rely on the sender field.

2.
For the HMAC case:
- commonName is not used in all type of issued certificates, this means that it will be implementation/or use case specific what to put in the common name. Not all PKIs have a username like EJBCA have, so that is not something a client should standardize on. Also the client would not know the username in many CMP scenarios, so the EJBCA username is not something the client can use to identify anything, it can be a random string. If the client certificate doesn't use commonName, there is also nothing logical to put in there. Imho the most logical would be the "recipient" as sent by the client. The client should know what "recipient" it sent to and that is pretty much the only thing the client could use to "identify the shared secret" imho. 

Now I don't remember RFC9483 by heart, is it mandated that commonName must be used, and that it maps to some "username" somewhere?

I just have a hard time seeing this implemented in a generic way without simply adding a ton of new configuration options to specify what specific clients (CMP aliases in EJBCA) is implemented to interpret "sender" as., it might as well be a hard coded string. And I am not very fond of more options, there are way too many options in CMP already.

In addition, this whole issue should not be triggered by a compliant client should it? As the recipient field is specified as:

    -- In the first message of a PKI management operation, SHOULD be
    --   the subject DN of the CA the PKI management operation is
    --   requested from

Copying the recipient field to the sender field should render a good response. Ok it is SHOULD and not MUST...handling every case of non-compliant clients is always a challenge. And sometimes the clients should be fixed instead of the server imho.


Let me try to slice the elephant:

[RFC4210](https://www.rfc-editor.org/rfc/rfc4210#section-5.1.1) gives the following description of the purpose of the sender field:

> This name [sender] (in conjunction with senderKID, if supplied) should be
>    sufficient to indicate the key to use to verify the protection on the
>    message.

In combination with the above quoted paragraph of [RFC9483](https://www.rfc-editor.org/rfc/rfc4210#section-3.1) it is clear, we must distinguish between the cases "signature protection" and "shared-secret protection" (aka 'pbe').

For the case **signature protection** it is clear:
>     -- For signature-based protection, MUST be the subject field of
>     --   the CMP protection certificate

For the case **shared-secret protection** we need to populate the field with
> a name the PKI
>     --   management entity can use to identify the shared secret
>     --   information.

In my opinion it is reasonable to copy the `receiver` field from the requesting CMP message to the `sender` field of the responding CMP message as the downstream entity was already able to identify the shared secret based on this name.

In practice this leads to these changes: https://github.com/RufusJWB/ejbca-ce/commit/5bc3d42d2fea2d3e7c1dffb1b99a82af95dabdbe?diff=unified&w=1


Great. That was exactly what I was thinking for this part of this thread. I made minor cosmetic comments for the PR in a review.

> Great. That was exactly what I was thinking for this part of this thread. I made minor cosmetic comments for the PR in a review.

Unfortunately I did not find the time to follow up on this issue last week.
Before I may further comment on the above discussion,
can you please link the PR you referred to here and share here what the essence of the resulting code change is?

You can find the link to the PR on top, the "Fixed by #447" link. This PR only fixes the original issue described by Rufus, with ordering of DN elements in signed responses.