EJBCA server is sending shake256 algorithm in place of KDF in EnvelopedData in CMP response

Issue:
EJBCA server is using SHAKE256 as KeyDerivationFunction for creation of EnvelopedData which is sent as CMP Initialization Resp (IP) packet. While doing the certificate enrolment for ML-KEM certificate this issue is seen. 

Server setup:
EJBCA server is installed in ubuntu using the docker with the help of below document
https://docs.keyfactor.com/how-to/latest/start-out-with-ejbca-docker-container

I have exactly followed the below documents to create the setup
https://docs.keyfactor.com/how-to/latest/create-post-quantum-cryptography-hybrid-ca-chain
https://docs.keyfactor.com/how-to/latest/issue-a-pqc-hybrid-end-entity-certificate-with-ml-

Client:
Openssl 3.6 is used to do the certificate enrolment, using the below command
openssl genpkey -algorithm ml-kem-768 -out mlkem_key_new.pem
openssl cmp -cmd ir -server http://1.1.1.1 -path ejbca/publicweb/cmp/cmp-ml -newkey mlkem_key_new.pem -subject "/CN=cmpencert" -ref cmpencert -secret pass:123456 -popo 2 -digest sha256 -certout mlkem_cert.pem -verbosity 8 -trusted ML-ChimeraRoot.der -srvcert ML-SubCA.der

Showing below how EnvelopedData need KDF, where EJBCA server is using SHAKE256, instead of KDF algorithms. As per openssl 3.6, it should be using kdf. OpenSSL is calling cms_kek_cipher-->kdf_derive-->EVP_KDF_derive to derive the KDF value but it is failing because of use of SHAKE256.

As per RFC 9810 (Section 5.2.2) : Cryptographic Message Syntax (CMS) [RFC5652] for EnvelopedData syntax.  
As per RFC 5652
      EnvelopedData ::= SEQUENCE {
        version CMSVersion,
        originatorInfo [0] IMPLICIT OriginatorInfo OPTIONAL,
        **recipientInfos RecipientInfos,**
        encryptedContentInfo EncryptedContentInfo,
        unprotectedAttrs [1] IMPLICIT UnprotectedAttributes OPTIONAL }

**RecipientInfos ::= SET SIZE (1..MAX) OF RecipientInfo**

   RecipientInfo ::= CHOICE {
     ktri KeyTransRecipientInfo,
     kari [1] KeyAgreeRecipientInfo,
     kekri [2] KEKRecipientInfo,
     pwri [3] PasswordRecipientInfo,
     **ori [4] OtherRecipientInfo }**

OtherRecipientInfo ::= SEQUENCE {
     oriType OBJECT IDENTIFIER,   ---> **For ML-KEM certificate it is "id-smime-ori-kem"**
     oriValue ANY DEFINED BY oriType }

ori-KEM OTHER-RECIPIENT ::= {
       KEMRecipientInfo IDENTIFIED BY id-ori-kem }

 KEMRecipientInfo ::= SEQUENCE {
       version CMSVersion,  -- always set to 0
       rid RecipientIdentifier,
       kem KEMAlgorithmIdentifier,
       kemct OCTET STRING,
       **kdf KeyDerivationAlgorithmIdentifier,**
       kekLength INTEGER (1..65535),
       ukm [0] EXPLICIT UserKeyingMaterial OPTIONAL,
       wrap KeyEncryptionAlgorithmIdentifier,
       encryptedKey EncryptedKey }

**ASN1 dump of KEMRecipientInfo from received packet**
SET (1 elem)
  [4] (2 elem)
    OBJECT IDENTIFIER 1.2.840.113549.1.9.16.13.3
    SEQUENCE (8 elem)
      INTEGER 0
      [0] (3 byte) 020100
      SEQUENCE (1 elem)
        OBJECT IDENTIFIER 2.16.840.1.101.3.4.4.2
      OCTET STRING (1088 byte) 53784D842A0BF3767EC7F5358BD9A0EB63592E7865E4CE9409DDBDA8373015F707DA…
      SEQUENCE (1 elem)
        OBJECT IDENTIFIER **2.16.840.1.101.3.4.2.12 shake256 (NIST Algorithm)**
      INTEGER 32
      SEQUENCE (1 elem)
        OBJECT IDENTIFIER 2.16.840.1.101.3.4.1.45 aes256-wrap (NIST Algorithm)
      OCTET STRING (24 byte) 0B3416CC16AD592821903B56B20777CB5A8783A2AF48804F

As per my understanding SHAKE256 should not be used as KDF. Please help to resolve the issue. Do let me know if any more information is needed to debug the issue.

What you are looking to achieve is using encrCert proof of possession. 
See here:
https://docs.keyfactor.com/ejbca/latest/post-quantum-cryptography-keys-and-signatures#id-(9.5)Post-QuantumCryptographyKeysandSignatures-IssuingcertificateswithKEMsubjectpublickeys

and [RFC9810, section 5.2.8.3.2](https://www.rfc-editor.org/rfc/rfc9810.html#section-5.2.8.3.2).

You have to look at [RFC9629](https://www.rfc-editor.org/rfc/rfc9629.html) for KeyRecipientInfo. And [RFC9936](https://www.rfc-editor.org/rfc/rfc9936.html) for using ML-KEM.

I see your point of the KDF algorithm, and will look into it.

Thanks for looking into the issue. Please find my response below

Post Quantum keys can be enrolled only using encrCert proof of possession.

As per below document, for ML keys we can use encCert
https://docs.keyfactor.com/ejbca/latest/cmp#id-(9.5)CMP-ProofofPossessionProof_of_possession

encrCert:
Post-quantum KEM keys cannot create signature based proof of possession (POP), as you cannot create signatures with KEM keys. raVerified POP works, but means there is no POP in the request message. For post-quantum cryptographic KEM keys (ML-KEM), **you can use encrCert POP (indirect POP) as specified in RFC4211 section 4.2. By using keyEncipherment(2) and proof of possession type and SubSequenceMessage.encrCert(0) as POPOPrivKey**, the client requests that the CA returns the certificate encrypted. If the client can successfully decrypt the certificate, it proves possession of the corresponding private key. Client support for this method limited, but the EJBCA cmpclient supports it. The CA will only allow this type of POP for post-quantum cryptography KEM keys (starting with ML-KEM).

As per above info  POP need to be done through encrCert. OpenSSL is sending the request as mentioned by EJBCA server
I have attached the screenshot of the same.

<img width="847" height="174" alt="Image" src="https://github.com/user-attachments/assets/cfb4d6d5-681f-4547-bed2-4fad258893cc" />

RFC 9629 for KeyRecipientInfo also mentions to refer RFC 5652:
kdf identifies the key derivation function, and any associated parameters, used by the originator to generate the KEK. The KeyDerivationAlgorithmIdentifier is described in Section 10.1.6 of [RFC5652].

[10.1.6](https://datatracker.ietf.org/doc/html/rfc5652#section-10.1.6).  KeyDerivationAlgorithmIdentifier

   The KeyDerivationAlgorithmIdentifier type is specified in [RFC 3211](https://datatracker.ietf.org/doc/html/rfc3211)
   [[PWRI](https://datatracker.ietf.org/doc/html/rfc5652#ref-PWRI)].  The KeyDerivationAlgorithmIdentifier definition is repeated
   here for completeness.

   Key derivation algorithms convert a password or shared secret value
   into a key-encryption key.

      KeyDerivationAlgorithmIdentifier ::= AlgorithmIdentifier



There is no password based encryption used here, it's only ML-KEM.

So, the code was written long before RFC9936 was published, and was based on RFC9629, where there is no mention of a specific KDF. SHAKE256 can be used as a legitimate KDF in its own right. 
Technically this means that the code is RFC9936 compliant, using SHAK256 as the KDF. For maximum interoperability it is of course better to align with the 'must support' in the recently published RFC9936.

I will update the code for a future release to use PKCSObjectIdentifiers.id_alg_hkdf_with_sha256 for maximum interoperability.

You can test it yourself if you like. It's in https://github.com/Keyfactor/ejbca-ce/blob/main/modules/ejbca-common-web/src/org/ejbca/core/protocol/cmp/CmpResponseMessage.java#L384. Just change NISTObjectIdentifiers.id_shake256 for PKCSObjectIdentifiers.id_alg_hkdf_with_sha256.

One funny note, the original support for SHAKE256 as a KDF was introduced for interoperability testing in the PQC-Hackathon on 24th August 2024. This ties in roughly with the July 2024 draft of RFC 9936 - at that point the draft specified both KMAC and HKDF. So it looks like the actual code derives from the situation at the IETF at the time.

Fixed for a future release (not defined yet which), and added test of returned KDF in the systemtest CrmfRequestSystemTest.testCrmfHttpOkUserMLKEM512.

Not really a bug, but an interoperability improvement to be inline with RFC9936. 

Thank for the detailed report @prabhatgopalika 

The fix was exactly the one-liner noted above.